# Flutter
build/
.android/
.ios/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Vue
node_modules/
dist/
*.log

# Django
__pycache__/
db.sqlite3
*.pyc
*.pyo
*.log
.env
.env.*

# General Git Ignores
*.bin
*.lock
*.cache
*.properties
*.iml
.DS_Store
.idea/
.vscode/
